@model BookShop.WebUI.Models.BooksByAuthorViewModel

@{
    ViewBag.Title = "Książki autora: " + Model.Author.AuthorName;
}



<h1> ---------------------@Model.Author.AuthorName---------------------</h1>

<div class="panel-default">
    @Model.Author.AuthorDesc
</div>

@foreach (var p in Model.Books)
{
    @Html.Partial("BookSummary", p);
}

<div class="btn-group-lg pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("BooksByAuthor",
    new { page = x, authName = Model.Author.AuthorName }))
</div>

