@model BookShop.WebUI.Models.BookListViewModel


@{
    ViewBag.Title = "Książki";
}

@foreach (var p in Model.Books)
{
    @Html.Partial("BookSummary", p);
}


<div class="btn-group-lg pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", 
    new { page = x,genre=Model.CurrentGenre }))
</div>


